[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cid = "*"
protobuf = "*"
libp2p = "*"
concurrent-log-handler = "*"
py-multihash = "*"
py-multicodec = "*"
varint = "*"

[dev-packages]

[requires]
python_version = "3.8"
